<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/add.css}">
    <script>
        function toMainPage() {
            window.location.href = 'page.do?operate=page&page=frames/main'
        }
    </script>
</head>
<body>
<div id="div_add_topic">
    <form action="topic.do" method="post">
        <input type="hidden" name="operate" value="addTopic"/>
        <input type="hidden" name="author" th:value="${session.userBasic.id}"/>
        <table>
            <tr>
                <th style="width: 50%">日志标题：</th>
                <td><input type="text" id="title" name="title"/></td>
            </tr>
            <tr>
                <th style="vertical-align: top">日志内容：</th>
                <td><textarea id="content" name="content" rows="10"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value=" 发 表 " style="float: right"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input onclick="toMainPage()" type="button" value=" 返 回 " style="float: right"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>